#ville2 , #typeTransport , #coutBillet , #visa , #detailBillet , #activitee, #ville1 , #duree , #coutPays , #pays , #detailEtape , #ajouter, #iconeTrajet
{
    display: none;
}

#ville1
{
    margin-top: 15px;
    height: 20px;
}


.trajet
{
    display : flex;
}

#iconeTrajet
{
    width : 80px;
    padding-bottom: 10px;
}

#visa
{
    flex-wrap: wrap;
    width: 315px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#activitee
{
    flex-wrap: wrap;
    width: 315px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.listeVisa
{
margin-left: 10px;
margin-bottom: 10px;
height : 30px;
width: 200px;
}

.listeActivitee
{
margin-left: 10px;
margin-bottom: 10px;
height : 30px;
width: 200px;
}

#caseCoutVisa , #caseCoutPays, #caseCoutBillet, #caseCoutActivitees, #caseDuree
{
margin-left: 10px;
width: 30px;
}

.trajet, .transport, .duree
{
    margin-bottom: 15px;
    margin-top: 15px;
}

.casePays
{
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}

.caseTransport
{
    margin-left: 15px;
    width: 100px;
}

.caseDetail
{
    margin-left: 15px;
    height : 50px;
    width: 500px;
}

#sectionPays
{
    display: flex;
    margin-top: 10px;
}
.caseVille
{
    margin-left : 10px;
    width : 200px;
}